#description h1 {
    padding-top: 5%;
    font-weight: 400;
    font-size: 40px;
    margin: 0px;
}

#description h2 {
    font-weight: 200;
    font-size: 20px;
}



@media screen and (min-width: 800px) {
    .answer-box {
      margin: 5%;
    }
    #questions {
        margin: 50px;
    }
}

@media screen and (max-width: 800px) {
    .answer-box {
      margin: 0;
    }
    #questions {
        margin: 5px;
    }
}

#spinner {
    position: absolute;
    background-color: white;
    z-index: 100;
    width: 100%;
    height: 100%;
}