#description h1 {
    padding-top: 5%;
    font-weight: 400;
    font-size: 40px;
    margin: 0px;
}
@media screen and (min-width: 800px) {
    #container{
        margin-top:5%;
        height: 800px;
    }
}
@media screen and (max-width: 800px) {
    #container{
        margin-top:5%;
        height: 1200px;
    }
}
