<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <link rel="stylesheet" href="https://unpkg.com/mdui@1.0.2/dist/css/mdui.min.css">
    <link rel="stylesheet" href="/resources/css/register.css">
</head>

<body>
<div id="container" class="mdui-container mdui-shadow-12">
    <div id="description" class="mdui-row">
        <h1 class="mdui-text-center mdui-col-xs-12">
            客户端注册
        </h1>
    </div>
    <div id="input-bar">
        <div class="mdui-textfield mdui-textfield-floating-label mdui-row mdui-col-xs-12">
            <label class="mdui-textfield-label">电子邮箱</label>
            <input id="email" class="mdui-textfield-input" type="email" required />
            <div class="mdui-textfield-error">邮箱格式错误</div>
        </div>
        <div class="mdui-textfield mdui-textfield-floating-label mdui-row mdui-col-xs-12">
            <label class="mdui-textfield-label">服务器名</label>
            <input id="servername" class="mdui-textfield-input" type="text" required />
            <div class="mdui-textfield-error">服务器名不能为空</div>
        </div>
        <div class="h-captcha" data-sitekey="78bce948-82fc-493e-84e2-a282b4ba2df8"></div>
        <div class="mdui-row mdui-col-xs-12">
            <button id="clearButton" class="mdui-btn mdui-ripple">清空</button>
            <button id="submitButton" class="mdui-btn mdui-color-theme-accent mdui-ripple">提交</button>
        </div>
    </div>
</div>
</body>
<script src="https://unpkg.com/mdui@1.0.2/dist/js/mdui.min.js"></script>
<script src="https://js.hcaptcha.com/1/api.js" async defer></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function (message) {
        document.getElementById('clearButton').addEventListener('click', function() {
            document.getElementById('email').value = '';
            document.getElementById('servername').value = '';
        });

        document.getElementById('submitButton').addEventListener('click', function(event) {
            event.preventDefault();

            var serverName = document.getElementById('servername').value;
            if (serverName.length > 20) {
                mdui.alert('服务器名过长，请重新输入');
                return;
            }

            var email = document.getElementById('email').value;
            var hcaptchaResponse = window.hcaptcha.getResponse();

            if (!hcaptchaResponse) {
                mdui.alert('请完成验证码');
                return;
            }

            // 提交注册信息
            axios.post('/api/register', {
                email: email,
                server_name: serverName,
                captcha_token: hcaptchaResponse
            })

                .then(function (response) {
                    mdui.alert("注册成功，请检查是否收到邮件")
                    location.reload()
                })
                .catch(function (error) {
                    console.log(error);
                    mdui.alert("注册失败，请联系开发者处理" + error)
                });
    });
    });
</script>

</html>
