<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <title>注册</title>
  <link rel="stylesheet" href="https://unpkg.com/mdui@1.0.2/dist/css/mdui.min.css">
  <link rel="stylesheet" href="/resources/css/register.css">
</head>

<body>
  <div id="container" class="mdui-container mdui-shadow-12">
    <div id="description" class="mdui-row">
        <h1 class="mdui-text-center mdui-col-xs-12">
            客户端注册
        </h1>
    </div>
    <div id="input-bar">
        <div class="mdui-textfield mdui-textfield-floating-label mdui-row mdui-col-xs-12">
            <label class="mdui-textfield-label">电子邮箱</label>
            <input class="mdui-textfield-input" type="email" required />
            <div class="mdui-textfield-error">邮箱格式错误</div>
        </div>
        <div class="mdui-textfield mdui-textfield-floating-label mdui-row mdui-col-xs-12">
            <label class="mdui-textfield-label">服务器名</label>
            <input class="mdui-textfield-input" type="text" required />
            <div class="mdui-textfield-error">服务器名不能为空</div>
        </div>
        <div class="mdui-row mdui-col-xs-12">
          <button class="mdui-btn mdui-ripple">button</button>
          <button class="mdui-btn mdui-color-theme-accent mdui-ripple">button</button>
        </div>
    </div>
  </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
<script src="https://unpkg.com/mdui@1.0.2/dist/js/mdui.min.js"></script>
<script>

</script>

</html>