<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>上传问卷</title>
</head>
<body>
<form action="/api/upload" method="post" enctype="multipart/form-data">
  <input type="file" name="file"></input>
  <input type="submit" value="上传"></input>
</form>
</body>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
<script>
    // 如果文件后缀不为json则弹窗提醒
    $('form').submit(function(e){
      var file = $('input[type=file]').val().split('.').pop().toLowerCase();
      if (file !== 'json') {
        alert('请上传json文件');
        e.preventDefault();
      }
    })
</script>
</html>